@import '@douyinfe/semi-ui/dist/css/semi.min.css';
@import './emoji.css';

.semi-switch-checked , .semi-switch-checked:hover {
  background-color: var(--semi-color-info) !important;
}

* {
  --semi-border-radius-small: 6px !important;
}

.semi-modal-content {
  border: none !important;
}

/* 全局禁用文字选择 */
* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body[theme-mode=dark], body .semi-always-dark, :host([theme-mode=dark]), :host .semi-always-dark {
 --title-logo-text-color: #a1a1a2;
}

body, body[theme-mode=dark] .semi-always-light, :host, :host .semi-always-light {
 --title-logo-text-color: #4f4f4f;
 /* TIP
 修改 \node_modules\@douyinfe\semi-ui\lib\es\_base\base.css
 body, body[theme-mode=dark] .semi-always-light, :host, :host .semi-always-light {
   --semi-color-overlay-bg: rgba(240, 240, 240, .6);
 }
 不然页面会像抹了屎一样
 fuck you semi ui
 */
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
}

.cloud-pe-title {
  color: var(--title-logo-text-color) !important;
}

.cloud-pe-logo {
  content: url('data:image/svg+xml,%3Csvg%20width%3D%22265%22%20height%3D%22265%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20overflow%3D%22hidden%22%3E%3Cg%20transform%3D%22translate(-815%20-256)%22%3E%3CforeignObject%20x%3D%22816%22%20y%3D%22259%22%20width%3D%22260%22%20height%3D%22260%22%3E%3Cdiv%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxhtml%22%20style%3D%22width%3A%20260px%3B%20height%3A%20260px%3B%20border-radius%3A%2050%25%3B%20background-image%3A%20linear-gradient(339deg%2C%20%2300a2e8%2C%20%23597dfc%2C%20%2312a3db%2C%20%230070ff)%3B%20background-size%3A%20750%25%3B%20background-position%3A%2084%25%2093%25%3B%22%3E%3C%2Fdiv%3E%3C%2FforeignObject%3E%3Cg%20transform%3D%22translate(905.984%2C%20582.440)%20scale(0.07177734375%2C%20-0.07177734375)%22%3E%3Cg%20transform%3D%22translate(0%2C%202048)%22%3E%3Cpath%20d%3D%22M1036%20196Q1036%20171%201034.5%20153.5Q1033%20136%201030.0%20123.5Q1027%20111%201022.0%20102.0Q1017%2093%201006.0%2081.5Q995%2070%20963.5%2052.0Q932%2034%20886.5%2017.5Q841%201%20782.5%20-10.0Q724%20-21%20656%20-21Q523%20-21%20416.0%2020.0Q309%2061%20234.0%20142.5Q159%20224%20119.0%20346.0Q79%20468%2079%20630Q79%20795%20123.0%20923.0Q167%201051%20246.0%201138.0Q325%201225%20435.5%201270.0Q546%201315%20679%201315Q733%201315%20783.0%201306.0Q833%201297%20875.5%201282.5Q918%201268%20952.0%201249.0Q986%201230%20999.5%201216.5Q1013%201203%201018.0%201194.0Q1023%201185%201026.0%201171.0Q1029%201157%201030.5%201138.0Q1032%201119%201032%201091Q1032%201061%201030.0%201040.0Q1028%201019%201023.0%201006.0Q1018%20993%201011.0%20987.0Q1004%20981%20995%20981Q980%20981%20957.0%20998.5Q934%201016%20897.5%201037.5Q861%201059%20810.5%201076.5Q760%201094%20690%201094Q613%201094%20552.5%201062.5Q492%201031%20449.5%20972.5Q407%20914%20385.0%20831.0Q363%20748%20363%20644Q363%20530%20386.5%20446.5Q410%20363%20453.5%20309.0Q497%20255%20558.5%20228.5Q620%20202%20697%20202Q767%20202%20818.0%20218.5Q869%20235%20905.5%20255.0Q942%20275%20965.5%20291.0Q989%20307%201002%20307Q1012%20307%201018.0%20303.0Q1024%20299%201028.0%20287.0Q1032%20275%201034.0%20253.5Q1036%20232%201036%20196Z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}